<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/home}">LamVandi</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" th:href="@{/home}">Trang chủ</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/products}">Sản phẩm</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/admin}">Admin</a></li>
                </ul>

                <!-- Nếu chưa login -->
                <ul class="navbar-nav ms-auto"
                    th:if="${#authorization.expression('!isAuthenticated()')}">
                    <li class="nav-item"><a class="nav-link" th:href="@{/login}">Đăng nhập</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/register}">Đăng ký</a></li>
                </ul>

                <!-- Nếu đã login -->
                <ul class="navbar-nav ms-auto"
                    th:if="${#authorization.expression('isAuthenticated()')}">
                    <li class="nav-item">
                        <span class="navbar-text text-light">
                            Xin chào, <b th:text="${#authentication?.name}">User</b>
                        </span>
                    </li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/logout}">Đăng xuất</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</body>
</html>
