<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$CONTENT_TITLE - LamVandi">LamVandi</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>

<!-- Header -->
<div th:replace="fragments/header :: header"></div>

<!-- Nội dung riêng của từng trang -->
<main class="container mt-4" layout:fragment="content">
    <!-- nội dung sẽ được thay thế -->
</main>

<!-- Footer -->
<div th:replace="fragments/footer :: footer"></div>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
